body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

link-to {
  text-decoration: none;
}

a {
  text-decoration: none;
}
