
.testimonial {
  display: flex;
  flex-wrap: wrap;
  background: rgba($c-rose, 0.1);

  &__card {
    display: flex;
    flex-grow: 1;
    width: calc(100% / 2 - 2.4rem);
    margin: 1rem;
    background: $c-white;
  }

  &__quote {
    width: calc(60% - 2rem);
    padding: 1rem;
  }

  &__image {
    width: calc(40% - 2rem);
    height: 50vh;
    object-fit: cover;
    padding: 1rem;
  }
}

.quote {
  font-style: italic;
}
