$m-gutter: 1rem;
$c-bg: #fffef2;
$c-gray: #d7d7d7;
$c-gray-darker: #717171;
$s-border: $c-gray 0.1rem solid;

@import 'reset';
@import 'navbar';
@import 'home';
@import 'footer';
@import 'hover';
@import url('https://fonts.googleapis.com/css?family=Arapey');

.section {
  padding: $m-gutter;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.centered {
  display: flex;
  align-self: center;
  margin: 0 auto;
}
