$m-gutter: 1rem;
$c-bg: #fefce9;
$c-gray: #d7d7d7;
$c-gray-darker: #717171;
$s-border: $c-gray 0.1rem solid;

@import 'reset';
@import 'navbar';
@import 'home';
@import 'footer';
@import 'gallery';
@import 'locations';
@import 'hover';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Allura');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import "ember-photoswipe";

.section {
  padding: $m-gutter;
}

.container {
  max-width: 65rem;
  padding: $m-gutter;
  margin: 0 auto;
}

.centered {
  display: flex;
  justify-content: center;
}
