.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  color: $c-gray-darker;
}

.social-media {
  &__icon {
    margin: 1rem;
    color: $c-gray;
    font-size: 40px;

    &:hover {
      color: $c-gray-darker;
    }
  }
}
