.preview {
  width: calc(100% / 4 - 0.15rem);
  height: 60vh;
  cursor: pointer;
  object-fit: cover;
}

@media (min-width: 320px) and (max-width: 590px) {
  .preview {
    width: 100%;
  }
}

.main-gallery {
  margin: 0;
  padding: 1rem;
  background: url('/images/gallery-banner.jpg') fixed no-repeat;
  background-size: cover;
  overflow: auto;

  &__content {
    max-width: 65rem;
    margin: 0 auto;
  }

  &__image {
    width: 20rem;
  }
}

.testimonial {
  display: flex;
  flex-wrap: wrap;

  &__card {
    display: flex;
    width: calc(100% / 2 - 2.4rem);
    margin: 1rem;
    border: $c-rose 0.2rem solid;
  }

  &__quote {
    width: calc(60% - 2rem);
    padding: 1rem;
  }

  &__image {
    width: calc(40% - 2rem);
    height: 50vh;
    object-fit: cover;
    padding: 1rem;
  }
}

.quote {
  font-style: italic;
}
