.title-text {
  font-size: 20px;
}

.main {
  position: relative;
  background: url('/images/roses-bg.jpg') fixed center no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  margin: 0;

  &__content {
    max-width: 65rem;
  }

  &__image {
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    width: 20rem;
  }
}

.map-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  background: url('/images/map-banner.jpg') fixed center no-repeat;
  background-size: cover;
  width: 100%;
  height: 55vh;

  &__box {
    display: flex;
    width: 65rem;
    height: 90%;
    background: rgba(#fff, 0.9);

    &_card {
      padding: 1rem;
      object-fit: cover;
    }
  }
}

.small-margin {
  margin: 0.1rem 0;
}

.title-text {
  font-family: 'Allura';
  font-size: 5rem;
  margin: 0;
}

.block-text {
  display: flex;
  flex-direction: column;
  line-height: 0px;
}

.section-title-text {
  font-family: 'Allura';
  font-size: 3rem;
  margin: 1rem;
}

.home-text {
  position: absolute;
  left: 15%;
  top: 15%;
  width: 50%;
  color: white;
}
