.title-text {
  font-size: 20px;
}

.grid {
  display: flex;

  &__item {
    margin: 1rem;
    width: calc(100% / 2 - 2rem)
  }
}

.main {
  position: relative;
  background: url('/images/banner.jpg') fixed center no-repeat;
  background-size: cover;
  width: 100%;
  height: 65vh;
  margin: 5rem 0 10rem 0;

  &__image {
    position: absolute;
    right: 15%;
    top: 60%;
    transform: translateY(-50%);
    width: 25rem;
  }
}

.title-text {
  font-family: 'Tangerine';
  font-size: 5rem;
  margin: 0;
}

.home-text {
  position: absolute;
  left: 10%;
  top: 10%;
}
