.title-text {
  font-size: 20px;
}

.grid {
  display: flex;

  &__item {
    margin: 1rem;
    width: calc(100% / 2 - 2rem)
  }
}

.main {
  position: relative;
  background: url('/images/banner.jpg') fixed center no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  margin: 5rem 0 13rem 0;

  &__image {
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translateX(-50%);
    width: 25rem;
  }
}
