.grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: calc(100% / 2 - 1rem);
    flex-grow: 1;
    min-width: 20rem;
    margin: 0.5rem;
  }
}

.one-third {
  flex-grow: 1;
  width: calc(100% / 3 - 1rem);
  min-width: 15rem;
  margin: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  border: $c-gray 0.05rem solid;

  &__image {
    height: 15rem;
    object-fit: cover;
  }
}

.map {
  width: 100%;
  height: 15rem;
}

.g-map {
  height: 100%;
}

.g-map-canvas {
  width: 100%;
  height: 100%;
}

.main-locations {
  margin: 0;
  padding: 1rem;
  background: url('/images/map-banner.jpg') fixed center no-repeat;
  background-size: cover;
  overflow: auto;

  &__content {
    max-width: 65rem;
    margin: 0 auto;
  }

  &__image {
    width: 20rem;
  }
}
