.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  font-family: 'Work Sans', sans-serif;

  &__button {
    margin: 0 1rem;
    text-decoration: none;
  }
}

.bella__logo {
  width: 10rem;
  margin: 0 1rem;
}

.button__text {
  color: $c-gray-darker;
  font-size: 15px;
  text-transform: uppercase;

  &:hover {
    color: black;
  }
}

@media (min-width: 320px) and (max-width: 590px) {
  .navbar {
    flex-direction: column;
    min-width: 1rem;

    &__button {
      margin: 0 1.5rem;
    }
  }
}
