.navbar {
  display: flex;
  width: 100%;
  margin-top: 1.5rem;

  > * + * {
    border-left: $s-border;
  }

  &__button {
    display: flex;
    width: calc(100% / 4);
    margin: 0;
    padding: 0.5rem;
    text-decoration: none;
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
}

.bella__logo {
  width: 20rem;
  margin: 0 1rem;
}

.flower {
  width: 2rem;
  height: 100%;
}

.button__text {
  color: $c-gray-darker;
  text-transform: uppercase;
  font-size: 18px;

  &:hover {
    color: black;
  }
}
