<div class="section">
  <div class="container">
    <p class="title-text" id="about">About Us</p>
    <p>
    Bella Divine, a division of JJC Inc., has been offering the latest styles in formal fashion since 2009.
    Before Bella Divine, branch manager Esther Lee and husband Sungho managed partner store Cinderella
    located in Dayton, OH from 2009 to 2012. Since opening the Huntsville location in January 2017, Esther and Sungho have helped
    hundreds find their dream dresses and gowns for all kinds of special occasions, including homecoming dances, proms,
    weddings, and more.
    </p>

    <h2>Our Mission</h2>
    <p>Our slogan is "Beauty starts with a divine heart". We believe everybody possesses natural beauty within
    themselves; our goal is to help anyone who walks through our doors express that inner beauty. We are solely dedicated
    to helping our customers find the dress that makes them feel extra beautiful on their special night.</p>
  </div>
</div>
