<div class="main">
  <div class="container">
    <div class="centered">
      <p class="title-text" id="about">About Us</p>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h2>Our Story</h2>
    <p>
    Bella Divine is a family business that offers the latest styles in formal fashion since it first opened its
    doors in January 2017. Before Bella Divine, branch manager and owner Esther Lee managed partner store Cinderella
    located in Dayton, Ohio. Since opening the Huntsville location, Esther and her associates have helped
    hundreds find their dream dresses and gowns for all kinds of special occasions including pageants, balls, proms,
    weddings, and more.
    </p>

    <h2>Our Mission</h2>
    <p>Our slogan is "Beauty starts with a divine heart". We aim to create a positive atmosphere in our shopping
    experience so that customers leave our shop feeling beautiful and whole-hearted. We believe in serving our customers with
    integrity and honesty in order to find the dress that is truly perfect for them.</p>

    <h2>Testimonials</h2>
    <div class="testimonial">
      <div class="testimonial__card">
        <div class="testimonial__quote">
          <blockquote class="quote">"Prom was a success!"</blockquote>
          <p>- Karen Adams</p>
        </div>
        <img src="/images/testimonials/karen.jpg" alt="" class="testimonial__image">
      </div>
      <div class="testimonial__card">
        <img src="/images/testimonials/rasheeda.jpg" class="testimonial__image">
        <div class="testimonial__quote">
          <blockquote class="quote">"Thank you so much for having what we wanted, money well spent."</blockquote>
          <p>- Rasheeda Cross</p>
        </div>
      </div>
      <div class="testimonial__card">
        <div class="testimonial__quote">
          <blockquote class="quote">"Thank you Bella Devine for my
            beautiful dress to celebrate my 50th birthday. I searched all
            over and found the perfect dress, perfect color and the right plus size.
            I am a very happy Customer."
          </blockquote>
          <p>- Ollie Green</p>
        </div>
        <img src="/images/testimonials/ollie-green.jpg" class="testimonial__image">
      </div>
    </div>
  </div>
</div>
