<div class="container">
  {{!-- {{#link-to 'home'}} --}}
    <img src="/images/bella-logo.png" alt="" class="navbar__logo centered">
  {{!-- {{/link-to}} --}}
  <div class="navbar">
    <div class="navbar__button"><p class="button__text centered">About Us</p></div>
    <div class="navbar__button"><p class="button__text centered">Gallery</p></div>
    <div class="navbar__button"><p class="button__text centered">Locations</p></div>
    <div class="navbar__button"><p class="button__text centered">Contact</p></div>
  </div>
</div>
