<div class="navbar">
  <div class="navbar__logo">
    {{!-- <img src="/images/flower-left.png" alt="" class="flower"> --}}
    {{#link-to 'home'}}
      <img src="/images/bella-logo.png" alt="" class="bella__logo">
    {{/link-to}}
    {{!-- <img src="/images/flower.png" alt="" class="flower"> --}}
  </div>
  <div class="navbar__links">
    {{#link-to 'about' class="navbar__button"}}
      <p class="button__text hvr-underline-from-center">About Us</p>
    {{/link-to}}
    {{#link-to 'gallery' class="navbar__button"}}
      <p class="button__text hvr-underline-from-center">Gallery</p>
    {{/link-to}}
    {{#link-to 'locations' class="navbar__button"}}
      <p class="button__text hvr-underline-from-center">Locations</p>
    {{/link-to}}
    {{#link-to 'contact' class="navbar__button"}}
      <p class="button__text hvr-underline-from-center">Contact</p>
    {{/link-to}}
  </div>
</div>

{{outlet}}

<div class="footer">
  <p class="footer__text">
    Parkway Place Mall | 2801 Memorial Pkwy SW |
    Huntsville, Alabama 35801
  </p>
  <p class="footer__text">
    (256) 382-3493
  </p>
  <p class="footer__text">
    Monday-Saturday: 10AM-9PM |
    Sunday: 12PM-6PM
  </p>

  <div class="social-media">
    <a target="_blank" href="https://www.facebook.com/BellaDivineHuntsville/">{{fa-icon 'facebook' class="social-media__icon"}}</a>
    <a target="_blank" href="http://www.instagram.com/belladivinedresshuntsville">{{fa-icon 'instagram' class="social-media__icon"}}</a>
    <a target="_blank" href="mailto:belladivinedress@gmail.com">{{fa-icon 'envelope' class="social-media__icon"}}</a>
  </div>
</div>
