<div class="navbar">
  <div class="navbar__logo">
    {{#link-to 'home'}}
      <img src="/images/bella-logo.png" alt="" class="bella__logo">
    {{/link-to}}
  </div>
  <div class="navbar__links">
    {{#link-to 'about' class="navbar__button"}}
      <p class="button__text hvr-underline-from-center">About</p>
    {{/link-to}}
    {{!-- {{#link-to 'gallery' class="navbar__button"}}
      <p class="button__text hvr-underline-from-center">Gallery</p>
    {{/link-to}} --}}
    {{#link-to 'locations' class="navbar__button"}}
      <p class="button__text hvr-underline-from-center">Locations</p>
    {{/link-to}}
  </div>
</div>

{{outlet}}

<div class="footer">
  <div class="footer__content">
    <div class="social-media">
      <a target="_blank" href="https://www.facebook.com/BellaDivineHuntsville/">
        <div class="social-media__icon">
            {{fa-icon 'facebook'}}
        </div>
      </a>
      <a target="_blank" href="http://www.instagram.com/belladivinedresshuntsville">
        <div class="social-media__icon">
            {{fa-icon 'instagram'}}
        </div>
      </a>
      <a target="_blank" href="mailto:belladivinedress@gmail.com">
        <div class="social-media__icon">
          {{fa-icon 'envelope'}}
        </div>
      </a>
    </div>

    <a target="_blank" href="http://caleblee.me">Website by Caleb Lee</a>
    <p>© 2018 Bella Divine</p>
  </div>
</div>
