<div class="main-gallery">
  <div class="container">
    <div class="centered">
      <p class="title-text" id="about">Gallery</p>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h2>Testimonials</h2>
    <div class="testimonial">
      <div class="testimonial__card">
        <div class="testimonial__quote">
          <blockquote class="quote">"Thank you Bella Devine for my
            beautiful dress to celebrate my 50th birthday. I searched all
            over and found the perfect dress, perfect color and the right plus size.
            I am a very happy Customer."
          </blockquote>
          <p>- Ollie Green</p>
        </div>
        <img src="/images/testimonials/ollie-green.jpg" class="testimonial__image">
      </div>
      <div class="testimonial__card">
        <img src="/images/testimonials/rasheeda.jpg" class="testimonial__image">
        <div class="testimonial__quote">
          <blockquote class="quote">"Thank you so much for having what we wanted, money well spent."</blockquote>
          <p>- Rasheeda Cross</p>
        </div>
      </div>
      <div class="testimonial__card">
        <div class="testimonial__quote">
          <blockquote class="quote">"Prom was a success!"</blockquote>
          <p>- Karen Adams</p>
        </div>
        <img src="/images/testimonials/karen.jpg" alt="" class="testimonial__image">
      </div>
    </div>
    <div class="grid">
      {{#photo-swipe items=items history=false as |photoswipe|}}
        {{#each items as |item index|}}
          <img class="preview" src={{item.src}} {{action 'open' (hash index=index) target=photoswipe}}/>
        {{/each}}
      {{/photo-swipe}}
    </div>
  </div>
</div>
