{{!-- <div class="grid">
  <div class="grid__item">
    <img src="/images/red-dress.jpg" alt="" class="featured__image">
  </div>
  <div class="grid__item">
    <img src="/images/blue-dress.jpg" alt="" class="featured__image">
  </div>
</div>
<div class="section centered">
  <p class="title-text centered">FEATURED : Burgundy and Navy, fitted</p>
</div> --}}

<div class="main">
  <div class="home-text">
    <p class="title-text">Beauty comes from a divine heart</p>
  </div>
  <img src="/images/white-dress.png" alt="" class="main__image">
</div>
