<div class="main">
  <div class="main__content">
    <div class="grid">
      <div class="grid__item_70">
        <div class="home-text">
          <p class="title-text">Beauty starts with a Divine Heart</p>
        </div>
      </div>
      <div class="grid__item_30">
        <div class="main__image">
          <img src="/images/home-dress.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="grid">
      <div class="one-third">
        <div class="center-card">
          <h2 class="small-margin">Discounts &amp; Sales</h2>
          <p>There are many seasonal sale items in our store, ranging from 10% off to 50% off items. Visit
          our store today and look for the sales sections to see what savings are available for you!</p>
        </div>
      </div>
      <div class="one-third">
        <div class="center-card">
          <h2 class="small-margin">Free Consultation</h2>
          <p>No appointments. No hassle. Simply walk in to one of our locations today and enjoy a free
          consultation from one of our prom and wedding dress advisors at no extra cost.</p>
        </div>
      </div>
      <div class="one-third">
        <div class="center-card">
          <h2 class="small-margin">Customer Service</h2>
          <p>Whether its finding the perfect dress for prom or the wedding gown of a lifetime,
          our advisors will help you find the dress that fits your style, size, and budget.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="map-banner">
  <div class="map-banner__box">
    <div class="grid">
      <div class="grid__item">
        <div class="map-banner__box_card">
          <h3 class="small-margin">Address:</h3>
          <p class="small-margin">Parkway Place Mall</p>
          <p class="small-margin">2801 Memorial Pkwy SW</p>
          <p class="small-margin">Huntsville, Alabama 35801</p>
          <a href="https://www.google.com/maps/dir//2801+Memorial+Pkwy+SW,+Huntsville,+AL+35801/@34.7072886,-86.5894595,17z/data=!4m16!1m7!3m6!1s0x88626cb6f14df777:0xb6310f3a499528d9!2s2801+Memorial+Pkwy+SW,+Huntsville,+AL+35801!3b1!8m2!3d34.7072886!4d-86.5872708!4m7!1m0!1m5!1m1!1s0x88626cb6f14df777:0xb6310f3a499528d9!2m2!1d-86.5872708!2d34.7072886">
            Get Directions
          </a>
          <p>
            <h3 class="small-margin">Store Hours:</h3>
            <p class="small-margin">Sunday: 12:00PM-6:00PM</p>
            <p class="small-margin">Monday-Saturday: 10:00AM-9:00PM</p>
          </p>
          <p>Tel: <a href="tel:+1-256-382-3493">(256) 382-3493</a></p>
          <p>E-mail: <a href="mailto:belladivinedress@gmail.com">belladivinedress@gmail.com</a></p>
          {{!-- {{#link-to 'locations'}}
            <p>More locations</p>
          {{/link-to}} --}}
        </div>
      </div>
      <div class="grid__item">
        <div class="map-banner__box_card">
          <img src="/images/huntsville.jpg" alt="" class="map-banner__box_image">
        </div>
      </div>
    </div>
  </div>
</div>
