<div class="main">
  <div class="main__content">
    <div class="grid">
      <div class="grid__item_70">
        <div class="home-text">
          <p class="title-text">Beauty starts with a Divine Heart</p>
        </div>
        <div class="social-media">
          <a target="_blank" href="https://www.facebook.com/BellaDivineHuntsville/">{{fa-icon 'facebook' class="social-media__icon"}}</a>
          <a target="_blank" href="http://www.instagram.com/belladivinedresshuntsville">{{fa-icon 'instagram' class="social-media__icon"}}</a>
          <a target="_blank" href="mailto:belladivinedress@gmail.com">{{fa-icon 'envelope' class="social-media__icon"}}</a>
        </div>
      </div>
      <div class="grid__item_30">
        <div class="main__image">
          <img src="/images/home-dress.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="grid">
      <div class="one-third">
        <div class="center-card">
          <h2 class="small-margin">Discounts &amp; Sales</h2>
          <p>There are many seasonal sale items in our store, ranging from 10% off to 75% off items. Visit
          our store today and look for the sales sections to see what savings are available for you!</p>
        </div>
      </div>
      <div class="one-third">
        <div class="center-card">
          <h2 class="small-margin">Walk-in Consultations</h2>
          <p>No appointments, no hassle. Simply walk in to one of our locations today and request a
          consultation from one of our dress advisors, and we'll help find the perfect dress for you.</p>
        </div>
      </div>
      <div class="one-third">
        <div class="center-card">
          <h2 class="small-margin">Professional Service</h2>
          <p>Our employees have familiarity with our catalog and an eye for formal style.
          Whether its a winning pageant dress or the wedding gown of a lifetime,
          our advisors will help you find the dress that fits your style, size, and budget.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="video">
  <div class="video__card">
    <iframe class="video__player" width='500' height='375' frameborder='0' allowfullscreen src='//player.ooyala.com/static/v4/stable/4.16.8/skin-plugin/iframe.html?ec=xodDduYTE6g3kwjYDC7xk2f8xZtq81rW&pbid=725383065a3c4c6a8e6c9b813bd1b5df&pcode=Z4b3E6Znlm3aMDYdiYnaZBBc2sss'></iframe>

    <div class="video__info">
      <h2 class="video__card-title">Bella Divine in the news:</h2>
      <p>Bella Divine recently gifted a new dress, pair of shoes, and jewelry to Sparkman High senior
        Kya Qvale for her special prom night. We are so grateful we could contribute
        to this wonderful young lady's special night!</p>
      <a href="http://whnt.com/2017/04/03/bella-divine-donates-prom-dress-shoes-jewelry-to-deserving-madison-county-student/">Read the full article here</a>
    </div>
  </div>
</div>

<div class="map-banner">
  <div class="map-banner__box">
    <div class="grid">
      <div class="grid__item">
        <div class="map-banner__box_card">
          <h3 class="small-margin">Address:</h3>
          <p class="small-margin">Parkway Place Mall</p>
          <p class="small-margin">2801 Memorial Pkwy SW</p>
          <p class="small-margin">Huntsville, Alabama 35801</p>
          <a href="https://www.google.com/maps/dir//2801+Memorial+Pkwy+SW,+Huntsville,+AL+35801/@34.7072886,-86.5894595,17z/data=!4m16!1m7!3m6!1s0x88626cb6f14df777:0xb6310f3a499528d9!2s2801+Memorial+Pkwy+SW,+Huntsville,+AL+35801!3b1!8m2!3d34.7072886!4d-86.5872708!4m7!1m0!1m5!1m1!1s0x88626cb6f14df777:0xb6310f3a499528d9!2m2!1d-86.5872708!2d34.7072886">
            Get Directions
          </a>
          <p>
            <h3 class="small-margin">Store Hours:</h3>
            <p class="small-margin">Sunday: 12:00PM-6:00PM</p>
            <p class="small-margin">Monday-Saturday: 10:00AM-9:00PM</p>
          </p>
          <p>Tel: <a href="tel:+1-256-382-3493">(256) 382-3493</a></p>
          <p>E-mail: <a href="mailto:belladivinedress@gmail.com">belladivinedress@gmail.com</a></p>
          {{#link-to 'locations'}}
          <p>More locations</p>
          {{/link-to}}
        </div>
      </div>
      <div class="grid__item">
        <div class="map-banner__box_card">
          <img src="/images/huntsville.jpg" alt="" class="map-banner__box_image">
        </div>
      </div>
    </div>
  </div>
</div>
