<div class="section">
  <div class="container">
    <p class="title-text">Locations</p>
    <div class="grid">
      <div class="grid__item">
        <div class="card">
          <img src="/images/huntsville.jpg" alt="" class="card__image">
          <div class="card__info">
            <h3>Huntsville, AL</h3>
            <p>Parkway Place Mall</p>
            <p>2801 Memorial Pkwy SW, Huntsville, Alabama 35801</p>
            <p>Tel: (256) 382-3493</p>
            <p>Monday-Saturday: 10AM-9PM, Sunday: 12PM-6PM</p>
          </div>
        </div>
      </div>
      <div class="grid__item">
        <div class="card">
          <img src="/images/fairfield.png" alt="" class="card__image">
          <div class="card__info">
            <h3>Fairfield, OH</h3>
            <p>The Mall at Fairfield Commons</p>
            <p>2727 Fairfield Commons, Beavercreek, OH 45431</p>
            <p>Tel: (937) 320-9370</p>
            <p>Monday-Saturday: 10AM-9PM, Sunday: 12PM-6PM</p>
          </div>
        </div>
      </div>
      <div class="grid__item">
        <div class="card">
          <div class="map">
            {{g-map lat=41.694791 lng=-83.640573 zoom=15}}
          </div>
          <div class="card__info">
            <h3>Toledo, OH</h3>
            <p>Franklin Park Mall</p>
            <p>5001 Monroe St, Toledo, OH 43623</p>
            <p>Tel: (419) 930-5599</p>
            <p>Monday-Saturday: 10AM-9PM, Sunday: 11AM-6PM</p>
          </div>
        </div>
      </div>
      <div class="grid__item">
        <div class="card">
          <div class="map">
            {{g-map lat=41.657231 lng=-81.361323 zoom=15}}
          </div>
          <div class="card__info">
            <h3>Mentor, OH</h3>
            <p>Great Lakes Mall</p>
            <p>7850 Mentor Ave, Mentor, OH 44060</p>
            <p>Tel: (440) 290-5415</p>
            <p>Monday-Saturday: 10AM-9PM, Sunday: 11AM-6PM</p>
          </div>
        </div>
      </div>
      <div class="grid__item">
        <div class="card">
          <div class="map">
            {{g-map lat=40.141455 lng=-82.978951 zoom=15}}
          </div>
          <div class="card__info">
            <h3>Columbus, OH</h3>
            <p>Polaris Fashion Place</p>
            <p>1500 Polaris Pkwy, Columbus, OH 43240</p>
            <p>Tel: (614) 468-1328</p>
            <p>Monday-Thursday: 10AM-9PM, Friday-Saturday: 10AM-9:30PM Sunday: 9AM-10PM</p>
          </div>
        </div>
      </div>
      <div class="grid__item">
        <div class="card">
          <img src="/images/olmstead.png" alt="" class="card__image">
          <div class="card__info">
            <h3>North Olmstead, OH</h3>
            <p>Great Northern Mall</p>
            <p>4954 Great Northern Blvd, North Olmsted, OH 44070</p>
            <p>Tel: (440) 782-7972</p>
            <p>Sunday-Saturday: 10AM-9PM</p>
          </div>
        </div>
      </div>
      <div class="grid__item">
        <div class="card">
          <img src="/images/cind-dayton.png" alt="" class="card__image">
          <div class="card__info">
            <h3>Cinderella - Dayton, OH</h3>
            <p>Dayton Mall</p>
            <p>2700 Miamisburg Centerville Rd, Dayton, OH 45459</p>
            <p>Tel: (937) 312-9969</p>
            <p>Monday-Saturday: 10AM-9PM, Sunday: 12PM-6PM</p>
          </div>
        </div>
      </div>
      <div class="grid__item">
        <div class="card">
          <img src="/images/cind-northgate.png" alt="" class="card__image">
          <div class="card__info">
            <h3>Cinderella - Cincinnati, OH</h3>
            <p>Northgate Mall</p>
            <p>9485 Colerain Ave, Cincinnati, OH 45251</p>
            <p>Tel: (513) 245-1537</p>
            <p>Monday-Saturday: 10AM-9PM, Sunday: 12PM-6PM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
